.recipelist {
	position: relative;
	margin: 0 15px 30px 15px;
	padding: 10px;
	width: calc(100% / 4 - 30px);
	border-radius: 8px;
	background: #fff;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}

.recipelist_title {
	position: absolute;
	z-index: 9;
	background: rgba(255, 255, 255, 0.3);
	padding: 10px;
	width: calc(100% - 20px);
	left: 10px;
	color: #030;
	font-size: 20px;
	font-weight: 500;
}

.recipelist_image {
	width: 100%;
	border-radius: 4px;
}

.recipelist_backdrop {
	margin: 10px;
	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.recipelist_backdrop:hover {
	opacity: 1;
}

.recipelist_backdrop:hover ~ div {
	color: #fff;
}

.recipelist_calories {
	position: absolute;
	z-index: 9;
	background: rgba(255, 255, 255, 0.3);
	padding: 5px 10px;
	width: calc(100% - 20px);
	right: 10px;
	bottom: 5px;
	color: #030;
	font-size: 16px;
	text-align: right;
}

@media screen and (max-width: 960px) {
	.recipelist {
		width: calc(100% / 3 - 30px);
	}
}

@media screen and (max-width: 780px) {
	.recipelist {
		width: calc(100% / 2 - 30px);
	}
}

@media screen and (max-width: 560px) {
	.recipelist {
		width: calc(100% - 30px);
	}
}
